<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="intro-box">
        <h1>Hi, I'm John.</h1>
        <h4>I'm glad you're here!</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <h4>Skills</h4>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip (click)="openTarget(skill)" *ngFor="let skill of skills">{{skill.name}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <h4>Bio</h4>
        <mat-card-content>
          <p>I'm a 27-year-old full-stack software development consultant from Charlotte, NC.</p>
          <p>Really big into house and techno music, Smash Bros, and board sports.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <mat-card>
        
        <mat-card-content class="d-flex justify-content-center align-items-center">
          <button mat-button class="p-1" (click)="openSocial('linkedin')">
            <img height="24" width="24" alt="linkedin" aria-label="linkedin" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" />
          </button>
          <button mat-button class="p-1" (click)="openSocial('github')">
            <img height="24" width="24" alt="github" aria-label="github" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4"></div>
  </div>


</div>