<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="intro-box">
        <h1>Hi, I'm John.</h1>
        <h4>I'm glad you're here!</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <h4>Skills</h4>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip (click)="openTarget(skill)" *ngFor="let skill of skills">{{skill.name}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>