<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="intro-box">
        <h1>Hi, I'm John.</h1>
        <h4>I'm glad you're here!</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <h4>Skills</h4>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip >Agile</mat-chip>
            <mat-chip >Angular</mat-chip>
            <mat-chip >CSS3/SCSS</mat-chip>
            <mat-chip >Express</mat-chip>
            <mat-chip >Firebase</mat-chip>
            <mat-chip >HTML5</mat-chip>
            <mat-chip >JavaScript</mat-chip>
            <mat-chip >MongoDB</mat-chip>
            <mat-chip >MySQL</mat-chip>
            <mat-chip >Node</mat-chip>
            <mat-chip >PHP</mat-chip>
            <mat-chip >TypeScript</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>